a:link, a:visited {
    color: #666;
    text-decoration: none;
    font-family: Inter;
    font-size: .9rem;
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 3px 0;
}

a:hover {
    color: #333;
}

a.active {
    background-color: white;
}