.class-navigator a:link, .class-navigator a:visited {
    color: #666;
    text-decoration: none;
    font-family: Inter;
    font-size: .9rem;
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 3px 0;
}

.class-navigator a:hover {
    color: #333;
}

.class-navigator a.active {
    background-color: white;
}